* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #fafafa;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px 10px 90px;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 3px 11px 10px 0px #f2f2f2;
  background-color: white;
}

#header img {
  width: 22%;
  min-width: 140px;
}

#header_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #aaa7a7;
  font-size: 24px;
}

.gen {
  text-wrap: nowrap;
  border-radius: 20px;
  background-color: white;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid black;
  padding: 10px;
}

.spec {
  border-radius: 50px;
  background-color: red;
  color: white;
  border: none;
  padding: 6px;
  aspect-ratio: 1/1;
  width: 40px;
  font-size: 18px;
}

#main {
  display: flex;
}

#content {
  width: 70%;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 40px; */
  padding: 50px 50px 10px 105px;
  border-right: 2px solid #f2f2f2;
}

#content_menu {
  border-bottom: 2px solid #f2f2f2;
  display: flex;
  gap: 20px;
  padding-left: 5px;
  margin-bottom: 40px;
}

#content_menu button {
  color: #aaa7a7;
  border: none;
  background-color: white;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

#content_menu button:focus-visible {
  outline: none;
}

#content_menu button:focus {
  color: black;
  border-bottom: 1px solid black;
}

.item {
  min-width: 480px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.info {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 5px; */
  width: 70%;
}

.info div {
  margin-top: 6px;
}

.info h2,
h5 {
  margin: 0;
}

.author {
  display: flex;
  gap: 8px;
  align-items: center;
}

.text {
  font-size: 16px;
  color: #aaa7a7;
}

.item_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail_data {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #aaa7a7;
  font-size: 12px;
}

.dot {
  padding-bottom: 5px;
}

.highlighted {
  background-color: #e8e8e8;
  padding: 5px 10px;
  border-radius: 15px;
}

#sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0 100px 0 60px;
}

#twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding-block: 40px;
  border-bottom: 2px solid #f2f2f2;
}

#twitter a {
  color: #aaa7a7;
}

#loghi_conc {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loghi_conc img {
  width: 20%;
  min-width: 30px;
}

#loghi_conc .twt {
  width: 22px;
  min-width: 22px;
}

.twt {
  width: 22px;
  min-width: 22px;
}

#loghi_conc ion-icon {
  font-size: 24px;
  color: #aaa7a7;
}

#twitter p {
  text-align: center;
  width: 86%;
  margin: 0;
  font-size: 20px;
}

#twt_conn {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  border: 1px solid #aaa7a7;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
}

#sidebar h3 {
  margin-block: 70px 20px;
}

#rec_topics {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#rec_topics button {
  background-color: #e8e8e8;
  padding: 15px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 400;
}

.who_follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.profile {
  display: flex;
  gap: 10px;
}

.who_follow img {
  width: 50px;
  height: 50px;
}

.who_follow p {
  margin: 5px;
}
.name {
  font-size: 18px;
  font-weight: bold;
}

.title {
  color: #aaa7a7;
  font-size: 15px;
}

.who_follow button {
  font-size: 18px;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid black;
}

#menu_bottom_sidebar {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-block: 60px;
}
.detail_data ion-icon {
  font-size: 14px;
  color: #aaa7a7;
}

#sidebar > a {
  color: green;
  text-decoration: none;
  margin-top: 20px;
}

.saved div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.saved h2 {
  margin-block: 10px 5px;
}

.saved {
  margin-block: 10px 20px;
}
