body {
  margin: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px 10px 100px;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0px 6px 5px #f2f2f2;
}

#header img {
  width: 22%;
  min-width: 140px;
}

#header_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #aaa7a7;
  font-size: 20px;
}

.gen {
  text-wrap: nowrap;
  border-radius: 20px;
  background-color: white;
  font-weight: 300;
  border: 1px solid black;
  padding: 6px;
}

.spec {
  border-radius: 50px;
  background-color: red;
  color: white;
  border: none;
  padding: 6px;
  aspect-ratio: 1/1;
  width: 30px;
}

#main {
  display: flex;
}

#content {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 10px 105px;
  gap: 40px;
}

#content_menu {
  border-bottom: 2px solid #E8E8E8;
  display: flex;
  gap: 20px;
  padding-left: 5px;
}

#content_menu button {
  color: #aaa7a7;
  border: none;
  background-color: white;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}

#content_menu button:focus-visible {
  outline: none;
}

#content_menu button:focus {
  color: black;
  border-bottom: 2px solid black;
}

.item {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
}

.info h2,
h5 {
  margin: 0;
}

.photo {
  width: 30%;
}

.author {
  display: flex;
  gap: 8px;
  align-items: center;
}

.text {
  font-size: 16px;
  color: #aaa7a7;
}

.item_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail_data {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #aaa7a7;
  font-size: 12px;
}

.dot {
  padding-bottom: 5px;
}

.highlighted {
  background-color: #E8E8E8;
  padding: 5px 10px;
  border-radius: 15px;
}

#sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #f2f2f2;
}

#twitter {
  display: flex;
  flex-direction: column;
}

#loghi_conc {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loghi_conc img{
  width: 10%;
  min-width: 30px;
}

#loghi_conc #twt{
  width: 22px;
  min-width: 22px;
}

#loghi_conc ion-icon{
  font-size: 24px;
  color: #aaa7a7;
}

#twitter h3 {
  text-align: center;
}